<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ReCaptchaSiteKey" value="FILL IN KEY HERE"/>
    <add key="ReCaptchaSecretKey" value="FILL IN KEY HERE"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
